<h1>task show page</h1>
<br>
<br>
description :<%= @task.description %>
<br>
subject :<%= link_to @task.subject.name, subject_path(id: @task.subject_id) %>
<br>
done? :<%= @task.done ? "\u2611" : "\u2610"  %>

<br>

<br>
Registration Date :<%= @task.registration_date %>
<br>
First reminder Date :<%= @task.first_reminder_date %>
<br>
Second reminder Date :<%= @task.second_reminder_date %>
<br>
Third reminder Date :<%= @task.third_reminder_date %>
<br>
<br>
<%= link_to 'Back', tasks_path %> 
<%= link_to 'Edit', edit_task_path %>
<%= link_to "Delete", @task, method: :delete, data: { confirm: "Are you sure?" } %>
