<h1><small>Subject : </small><%= @subject.name %> <%= link_to 'New Task', new_task_path(subject_id: @subject.id), class:"btn btn-default pull-right" %>
</h1>




<% unless @tasks.empty? %>

  <% @tasks.each do |t| %>
    <div class="card">
      <div class="subject"><div class="start-date pull-left">Start: <%= timeParse(t.registration_date) %></div></div>
      <div class="container">
        <div class="description"><%= link_to t.description,  task_path(t) %></div>
        <div class="check-date">
            <%= link_to task_toggle_path( task_id: t.id, which_checkbox:"first_check"), method: :patch, remote: true do %>
              <span id="status-first_check-<%= t.id%>">
                <%= t.first_check ?  fa_icon("check-square") : fa_icon("square")  %>
              </span>
            <% end %>
            1st <%= timeParse(t.first_reminder_date) %>
        </div>
        
        <div class="check-date">
            <%= link_to task_toggle_path( task_id: t.id, which_checkbox:"second_check"), method: :patch, remote: true do %>
              <span id="status-second_check-<%= t.id%>">
                <%= t.second_check ?  fa_icon("check-square") : fa_icon("square")  %>
              </span>
            <% end %>
            2nd <%= timeParse(t.second_reminder_date) %>
        </div>
        
        <div class="check-date">
            <%= link_to task_toggle_path( task_id: t.id, which_checkbox:"third_check"), method: :patch, remote: true do %>
              <span id="status-third_check-<%= t.id%>">
                <%= t.third_check ?  fa_icon("check-square") : fa_icon("square")  %>
              </span>
            <% end %>
            3rd <%= timeParse(t.second_reminder_date) %>
        </div>
        
        
      </div>
    </div>
  <% end %>
  
<% else %>
    <p>No Task</p>
<% end %>

<br/>
<%= link_to 'Back', :back, class: "btn btn-default" %> 

<%= link_to 'Edit Subject', edit_subject_path, class: "btn btn-default" %>
<%= link_to "Delete Subject", @subject, method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-danger pull-right"  %>